#lool{
  position: relative;
  background-color: #000;
  color: #FFF;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto 80px auto;
}
#lool tbody tr{
  transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -moz-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -o-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -webkit-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
}
#lool thead{
  position: sticky;
  top:0;
}
#lool thead tr th:last-child,#lool tbody tr td:last-child{
  width: 220px;
  max-width: 220px;
  min-width: 220px;
  text-align: right;
}
#lool tbody tr td,
#lool thead tr th{
  transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -moz-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -o-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -webkit-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  padding: 10px;
  border-bottom: 1px solid #111;
}
#lool tbody tr td button,
#lool tbody tr td button:visited,
#lool tbody tr td button:active,
#lool tbody tr td button:focus{
  transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -moz-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -o-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -webkit-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  transition-property: background-color, color, opacity, border;
  -moz-transition-property: background-color, color, opacity, border;
  -o-transition-property: background-color, color, opacity, border;
  -webkit-transition-property: background-color, color, opacity, border;
  background-color: transparent;
  line-height: 30px;
  padding: 5px;
  outline:0;
  border: 1px solid #ccc;
  color: #FFF;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  cursor: pointer;
}
#lool tbody tr td button svg{
  transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -moz-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -o-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  -webkit-transition: 300ms cubic-bezier(0.42,0,0.58,1);
  transition-property: fill;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  fill: #ccc;
  height: 30px;
}
#lool tbody tr td.drag svg{
  height: 42px;
}
#lool tbody tr td button:hover{
  background-color: #fff;
  border: 1px solid #fff;
}
#lool tbody tr td button.cancel{
  display: none;
  border: 1px solid #ff8a6b;
}
#lool tbody tr td button.cancel svg{
  fill: #ff8a6b;
}
#lool tbody tr td button.cancel:hover{
  background-color: #ff8a6b;
  border: 1px solid #ff8a6b;
}
#lool tbody tr td button.save{
  display: none;
  border: 1px solid #92ff7b;
}
#lool tbody tr td button.save svg{
  fill: #92ff7b;
}
#lool tbody tr td button.save:hover{
  background-color: #92ff7b;
  border: 1px solid #92ff7b;
}
#lool tbody tr td button.remove:hover{
  background-color: #ff8a6b;
  border: 1px solid #ff8a6b;
}
#lool tbody tr td button.edit:hover{
  background-color: #ffeb75;
  border: 1px solid #ffeb75;
}
#lool tbody tr td button:hover svg{
  fill: #000;
}
#lool tbody tr td button:first-child{
  margin-left: 0;
}
#lool tbody tr:not(.disabled):hover{
 background-color: #111;
 color: #FFF;
}
#lool tbody tr.disabled{
  opacity:.4;
  /*pointer-events: none;*/
}
#lool tbody tr.editdisabled{
  opacity:.4;
  pointer-events: none;
}
#lool tbody tr.edit{
  opacity:1;
  pointer-events: all;
}
#lool tbody tr.edit button{
  display: none;
}
#lool tbody tr.edit button:not(.edit,.remove,.up,.down){
  display: inline-block;
}
#lool tbody tr.disabled td{
 border-bottom: 1px solid #111;
}
#lool tbody tr.selected{
  opacity:1;
  color: black;
}
#lool tbody tr.selected:hover td{
  color: black;
}
#lool tbody tr.selected td{
  background-color: #ccc;
}
#lool tbody tr.selected td.drag svg{
  fill: black;
}
#lool tbody tr td.drag:hover{
  cursor: move;
}
#lool tbody tr.selected td button{
  /*opacity: 0;*/
}
#lool tbody tr:first-child button.up{
  opacity:.2;
  pointer-events: none;
}
#lool tbody tr:last-child button.down{
  opacity:.2;
  pointer-events: none;
}